
/* =================== CONTENT =================== */

/* ------ HOME ----- */

#headline { overflow:hidden; }
#headline #newsflash { display: inline-block;  vertical-align: middle;  width: 100%; white-space: nowrap;}
#headline #newsflash img { width: 100%; }
#headline #quotes { display: inline-block;  vertical-align: middle;  margin:30px; }
#headline #quotes #words { font-size: 1.5em; color:#333; text-shadow: 2px 2px #333;}
#headline #quotes #person { margin-top: 5px; color:#999;}

#headline #caption { position:absolute; color:white; font-size: 25pt; text-shadow: 2px 2px 5px black ; font-size:1.2em; text-align:left; line-height:1.5em;
                    width:380px; margin-top: -200px; margin-left:570px; padding: 30px 15px; background: #0e1b53;}


#headline #buttons{ width:590px; margin-top:-250px;position:absolute;z-index:0; }

/* @media (max-width: 480px){
    #headline #caption { font-size: 1em; }
} */

/* @media (max-width:1000px){
	#headline { height:auto;}
	#headline #buttons{ width:100%;margin-top:-30%;}
} */

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 0px) {
    
    #recipeCarousel > .carousel-inner .carousel-item-right.active,
    #recipeCarousel > .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    #recipeCarousel > .carousel-inner .carousel-item-left.active, 
    #recipeCarousel > .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#recipeCarousel > .carousel-inner .carousel-item-right,
#recipeCarousel > .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}


